.products-block {
  width: 100%;
  height: 100vh;
  padding-top: 95px;
  padding-bottom: 57px;
  position: relative;
  overflow-y: scroll;
}

.products-block__loading-block {
  position: absolute;
  top: 50%;
  left: 50%;
}

.products-block__enter {
  display: flex;
  flex-wrap: wrap;
}

.products-block__not-found {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.products-block__not-found img {
  width: 99px;
  margin-bottom: 26px;
}