.category-item {
  font-size: 18px;
  margin-right: 44px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid white;
}

.category-item:hover {
  border-bottom: 4px solid #ff6969;
}

.selected {
  border-bottom: 4px solid #ff6969;
}

.router-link-active {
  border-bottom: 4px solid #ff6969;
}